<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         cacheResultFile=".phpunit.cache/.phpunit.result.cache"
         executionOrder="random"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="TinyMCE Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".php">./vendor</directory>
        </exclude>
    </coverage>
</phpunit>
